.App {
  text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
  background-color: #000000; /* Dark mode background color */
  color: #ffffff; /* Light text color for contrast */
  font-family: 'Roboto', Helvetica, Calibri, Arial, sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 500; /*Lightweight style*/
}
pre {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 8px;
  overflow-x: auto;
  width: fit-content;
}
p,li {
  font-weight: 300;
}
strong {
  font-weight: 500;
}
.clickthrough {
        pointer-events: none;
}
.noclickthrough.noclickthrough {
        pointer-events: all;
}
a, pre, code, button, input, textarea, select, label, option, thead, tr, p {
  pointer-events: all;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.absolute-container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.layer {
  position: absolute;
  display: flex; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

@media (max-width: 768px) {
  .Mobile {
    display: unset;
  }
  .PC {
    display: none;
  }
}

@media (min-width: 769px) {
  .PC {
    display: block;
  }
  .Mobile {
    display: none;
  }
}